.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 3px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
    background-color: rgb(33, 160, 147);
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxClass {
    color: rgb(156, 9, 41);
    font-weight: bold;
}

.equipmentList {
    list-style: none;
}